@media only screen and (min-width: 1280px){
   /*header*/
   .header{
    width: 100vw;
    height: 84px;
    background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-position: center;
  background-size: contain;
  position: fixed;
  z-index: 9000;
  }

  .headerContents{
    width: 1200px;
    height: 84px;
    margin: 0 auto;
    position: relative;

  }


  .headerContents ul{
    width: 1200px;
    height: 84px;
    position: absolute;
    align-items: center;
  }


  .headerContents ul li{
    float: left;
    margin-top: 24px;
    margin-right: 30px;
  }



  .headerContents button{ 
    width: 120px; 
    height: 40px; 
    background-color:#5B7AFD;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    float: right;
    margin-top: 24px;}


/*section01*/
.section01{
    width: 100vw;
    min-height: 1200px;
    max-height: 100vw;
    background-image: url(./img/section01Background.svg);
    background-position:cover;
    background-repeat: repeat;
    z-index: -2;
   
}

.section01Contents{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    padding-top: 140px;
    
}


#wave{
    width: 300px;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 1200px;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s;
}

#wave{transform: rotate(-25deg);}


#circleGraph{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: -250px;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s;
}



#candleGraph{
    width: 520px;
    height: 520px;
    position: absolute;
    top: 0px;
    right: -300px;
    z-index: 12;
    opacity: 0;
    transition: all 0.7s;
}



.section01Contents h2{
    font-size: 8rem;
    font-weight:1000;
    text-align: right;
    position: absolute;
    left: -10px;
    line-height: 140px;
    z-index: 10;
}

.section01Contents h2 + h2{
    font-size: 8rem;
    font-weight:1000;
    text-align: right;
    position: absolute;
    left: 630px;
    top: 420px;
}

.gridBox{
    width: 1200px;
    height: 65vh;
    position: absolute;
    top:350px;
    z-index: 3;
}


.gridBoxContentsI{
  width: 348px;
  height:100%;
  float: left;
}


.gridBoxContentsIimg01{
  width: 100%;
  height: 370px;
  background-image: url(./img/SceneMockup.png);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
 
}


.gridBoxContentsIimg02{
  width: 100%;
  height: 370px;
  box-shadow: inset 0px 0px 40px #666;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 30px;
}





.gridBoxContentsII{
    width: 850px;
    height:100%;
    float: right;
    
}


.gridBoxContentsIIimg01{
  width: 355px;
  height: 290px;
  float: left;
  margin-left:27px;
  margin-top: 25px;
  box-shadow: inset 0px 0px 40px #666;
  background-color: #5B7AFD;
  border-radius: 15px;
}

.gridBoxContentsIIimg02{
  width: 440px;
  height: 290px;
  float: right;
  margin-left:22px;
  margin-top: 25px;
  border-radius: 15px;
  background-image: url(./img/desktop-1.png);
  background-size: cover;
  background-position: center;
}




.mainVideo{
    width: 820px;
    border-radius: 15px;
    float: right;
    
}

/*section02*/
.section02{
    width: 100vw;
    height: 800px;
    background-color:#DEE1EB ;
    
}   

}